body{
	
	margin:0;
	padding:0;
	
}

.first{
	
	
	box-sizing:border-box;
}
.first h1{
	
	margin:0;
	padding:0;
	font-family:'Poppins',sans-serif;
	font-size:3em;
	color:#333;
	text-align:center;
	background-color:#A3A3A3;
	
	
}